.gradientOverlay {
    position: relative;
    flex: 2
}

.gradientOverlay::after {
    background:linear-gradient(to left, rgba(0, 0, 0, 0) 50%, black 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
}

.gradientBubbleOne {
    position: absolute;
    top: 0; 
    right: 0; 
    user-select: none;
    width: 100%;
    height: 30%;
    filter: blur(92px);
    transform: rotate(25deg) translateZ(0);
    border-radius: 10%;
    max-height: 400px;
    background: linear-gradient( 90deg, rgba(255, 0, 0, 0.5) 25%, rgba(241, 161, 161, 0.4) 50%, rgba(255, 0, 0, 0.15) 75% );
}

.gradientBubbleTwo {
    position: absolute;
    top: 0; 
    right: 0; 
    user-select: none;
    width: 100%;
    height: 30%;
    filter: blur(100px);
    transform: rotate(-30deg) translateZ(0);
    border-radius: 10%;
    max-height: 400px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.5) 25%, rgba(255, 167, 167, 0.4) 50%, rgba(255, 138, 138, 0.15) 75% );
}

.proHighlight {
    -webkit-text-fill-color: transparent; 
    background-color: #d69d94;
    background-image: linear-gradient(43deg, rgba(255, 0, 0, 0.5) 0%, rgba(220, 118, 118, 0.4) 46%, rgba(255, 12, 12, 0.15) 100%);
    background-clip: text;
}

.overviewHeader {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    color: white;
}